**/.ipynb_checkpoints
copia codigo base
Trabajo TFG.zip
Imagenes para entrenamiento.zip
Imagenes para entrenamiento/
Imagenes_para_entrenamiento/
**/*.npy
__pycache__/
*.png
*.jpg
python/*.json
Conclusiones_valores_metricas.txt
python/guardar_mascara_ground_truth.py
python/pruebas