**/.ipynb_checkpoints
**/*.npy
**/*.png
**/*.jpg
**/*.txt
**/*.zip
**/*.csv
src/ihc/*.json

__pycache__/
copia codigo base/
Imagenes para entrenamiento/
Imagenes_para_entrenamiento/
src/ihc/models/
src/ihc/pruebas/
Imagenes_validacion/
Imagenes_validacion_reescalado/
Imagenes_entrenamiento/
Imagenes_entrenamiento_reescalado/
reescalado/
src/ihc/Anotaciones_coco/
src/ihc/Anotaciones_coco_enviadas/
src/ihc/Anotaciones_coco_malas/
IL6_1_reescalado/
models/
valores_comp_conexas/
valores_comp_conexas quedan graficas de los 3 canales/
valores_clasif_tincion/
anotaciones_coco_v2/
resultados_modelo_datos_sin_primer_elem/
parametros_HSV_RGB_LAB/
valores_RGB_y_graficas_distancias/

src/ihc/reentrenamiento.py
src/ihc/training_Copilot.py
src/ihc/guardar_mascara_ground_truth.py
Imagenes para entrenamiento.zip
Trabajo TFG.zip
src/ihc/Anotaciones_coco_enviadas.zip